TALN-RECITAL-BIB.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="conferences">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="conference" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="edition">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="acronyme"/>
                    <xs:element type="xs:string" name="titre"/>
                    <xs:element type="xs:string" name="ville"/>
                    <xs:element type="xs:string" name="pays"/>
                    <xs:element type="xs:date" name="dateDebut"/>
                    <xs:element type="xs:date" name="dateFin"/>
                    <xs:element name="presidents">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="nom" maxOccurs="unbounded" minOccurs="0"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="typeArticles">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="type" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute type="xs:string" name="id" use="optional"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="statistiques">
                      <xs:annotation>
                        <xs:documentation><![CDATA[<acceptations id="long" soumissions=""></acceptations>  <acceptations id="court" soumissions=""></acceptations>  <acceptations id="" soumissions=""></acceptations>  <acceptations id="" soumissions=""></acceptations>]]></xs:documentation>
                      </xs:annotation>
                      <xs:complexType mixed="true">
                        <xs:sequence>
                          <xs:element name="acceptations" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:byte">
                                  <xs:attribute type="xs:string" name="id" use="optional"/>
                                  <xs:attribute type="xs:byte" name="soumissions" use="optional"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:anyURI" name="siteWeb"/>
                    <xs:element name="meilleurArticle">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="articleId" maxOccurs="unbounded" minOccurs="0"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="articles">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="article" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:choice maxOccurs="unbounded" minOccurs="0">
                          <xs:element name="auteurs">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="auteur" maxOccurs="unbounded" minOccurs="0">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:string" name="nom"/>
                                      <xs:element type="xs:string" name="email" maxOccurs="unbounded" minOccurs="0"/>
                                      <xs:element type="xs:string" name="affiliationId" maxOccurs="unbounded" minOccurs="0"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="affiliations">
                            <xs:complexType mixed="true">
                              <xs:sequence>
                                <xs:element name="affiliation" maxOccurs="unbounded" minOccurs="0">
                                  <xs:complexType>
                                    <xs:simpleContent>
                                      <xs:extension base="xs:string">
                                        <xs:attribute type="xs:byte" name="affiliationId" use="optional"/>
                                      </xs:extension>
                                    </xs:simpleContent>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element type="xs:string" name="titre"/>
                          <xs:element type="xs:string" name="type"/>
                          <xs:element type="xs:string" name="pages"/>
                          <xs:element type="xs:string" name="resume"/>
                          <xs:element type="xs:string" name="mots_cles"/>
                          <xs:element type="xs:string" name="title"/>
                          <xs:element type="xs:string" name="abstract"/>
                          <xs:element type="xs:string" name="keywords"/>
                          <xs:element name="appartenance">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="affiliation" maxOccurs="unbounded" minOccurs="0"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:choice>
                        <xs:attribute type="xs:string" name="id" use="optional"/>
                        <xs:attribute type="xs:string" name="session" use="optional"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
